<head>
    <style>
      h2{
        font-size: 50px;
  
      }
    </style>
  </head>
  <body class="page-template page-template-post-new-page-template page-template-post-new-page-template-php page page-id-11 logged-in elementor-default"> 
            <div class="flex-fill">
                    <div class="header py-3">                         
            <div id="project-theme-page-template-1">
              <br/>

              <div id="h1"class="p-3 mb-2 bg-light text-dark">تعديل بيانات المشروع</div>
  <div class="row" style="text-align: right;font-size: 25px;">
  <div id="content" >
        <div class="card p-3">
          
            <% projects.forEach(project => { %>
                <div class="sonita2">
  <form method="post" action="/projects/<%=project._id %>/update?_method=PUT">
  <ul class="post-new">
    <li class="">
        <h2>عنوان المشروع</h2>
        <p><input type="text" value="<%=project.title %>" size="50" class="form-control" name="title" placeholder="عنوان المشروع" ></p>
    </li>
                     <li class="">   
        <h2>وصف المشروع</h2>
    <p><textarea rows="6" cols="60" class="form-control" placeholder="وصف للمشروع" name="description"><%=project.description %></textarea></p>
    </li>
           
    <li>
        <h3>المهارات المطلوبة</h3>
        <p><input type="text" size="50" value="<%=project.requiredSkills %>" class="form-control" name="requiredSkills" placeholder="المهارات المطلوبة" ></p>
    </li>
    <li class="">                  
   <h2>ميزانية المشروع</h2>
    <p class="strom_100">
  <input type="number" required="" size="50" value="<%=project.budget %>"class="form-control" name="budget" placeholder="الميزانية بالريال السعودي" value="10000">
  </p>
    </li>
    <li class="">                  
     
       </li>
    <li>
    
    <p>
      <button type="submit" class="btn btn-primary" align="left">تعديل</button>
    </li>       
  </ul>
  </form>
  <% }) %>

  </div>   
          </div>
  
    </div> 
        </div>
            </div>
                    </div>
    </div>
  
  </body>
  