<html lang="ar" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>المشاريع - Admin</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="dns-prefetch" href="//s.w.org">

	<link rel="stylesheet" href="http://sitemile.us/single-sites/project/wp-admin/load-styles.php?c=0&amp;dir=ltr&amp;load%5Bchunk_0%5D=dashicons,admin-bar,common,forms,admin-menu,dashboard,list-tables,edit,revisions,media,themes,about,nav-menus,wp-pointer,widgets&amp;load%5Bchunk_1%5D=,site-icon,l10n,buttons,wp-auth-check&amp;ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="thickbox-css" href="http://sitemile.us/single-sites/project/wp-includes/js/thickbox/thickbox.css?ver=5.4.2" media="all">
<link rel="stylesheet" id="yoast-seo-admin-global-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/wordpress-seo/css/dist/admin-global-1441.css?ver=14.4.1" media="all">
<link rel="stylesheet" id="yoast-seo-dismissible-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/wordpress-seo/css/dist/wpseo-dismissible-1441.css?ver=14.4.1" media="all">
<link rel="stylesheet" id="yoast-seo-edit-page-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/wordpress-seo/css/dist/edit-page-1441.css?ver=14.4.1" media="all">
<link rel="stylesheet" id="elementor-icons-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.7.0" media="all">
<link rel="stylesheet" id="elementor-common-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/css/common.min.css?ver=2.9.13" media="all">
<link rel="stylesheet" id="elementor-admin-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/css/admin.min.css?ver=2.9.13" media="all">
<link rel="stylesheet" id="yoast-seo-adminbar-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/wordpress-seo/css/dist/adminbar-1441.css?ver=14.4.1" media="all">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/tipTip.css" type="text/css">
    <link rel="stylesheet" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/admin.css" type="text/css">
    <link rel="stylesheet" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/colorpicker.css" type="text/css">
    <link rel="stylesheet" media="screen" type="text/css" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/layout.css">
	<link type="text/css" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <link id="wp-admin-canonical" rel="canonical" href="http://sitemile.us/single-sites/project/wp-admin/edit.php?post_type=project">

</head>
<body class="wp-admin wp-core-ui js edit-php auto-fold admin-bar post-type-project branch-5-4 version-5-4-2 admin-color-fresh locale-en-us customize-support svg">
<div id="wpwrap">


<div id="wpcontent">

<div id="wpbody" role="main">
<div id="wpbody-content">
		<div id="screen-meta" class="metabox-prefs">
		<div id="screen-options-wrap" class="hidden" tabindex="-1" aria-label="Screen Options Tab">
        <form id="adv-settings" method="post">
		<fieldset class="metabox-prefs">
		<legend>Columns</legend>
		<label><input class="hide-column-tog" name="author-hide" id="author-hide" value="author" checked="checked">المنشئ للفكرة</label>
<label><input class="hide-column-tog" name="posted-hide"  id="posted-hide" value="posted" checked="checked">تاريخ المشروع</label>

<label><input class="hide-column-tog" name="options-hide"  id="options-hide" value="options" checked="checked">العمليات</label>
		</fieldset>
			
</form>
</div>		</div>
				

		<div class="wrap" style="text-align: center; font-size: 20px;">
<h1 class="wp-heading-inline">المشاريع</h1>
<br/><br/><br/>

 <a href="/users/new" class="page-title-action">اضافة مشاريع</a>
 <br/> <br/>
 <br/>

 <form id="posts-filter" method="get">
     <input type="hidden" id="_wpnonce" name="_wpnonce" value="09d2d980db"><input type="hidden" name="_wp_http_referer" value="/single-sites/project/wp-admin/edit.php?post_type=project">	
         <table class="table table-bordered table-hover table-sortable" style="text-align: center; font-size: 16px;font-weight: bold; color:black">
             <thead>
                 <tr style="color:black">
                     <th scope="col" id="title" class="text-center"> عنوان</th>
                     <th scope="col" id="author" class="text-center">وصف</th>	
                     <th scope="col" id="author" class="text-center">صاحب المشروع</th>	
                     <th scope="col" id="author" class="text-center">تاريخ اضافة المشروع</th>	
                     <th scope="col" id="author" class="text-center">تاريخ نهاية المشروع</th>	
                     <th scope="col" id="author" class="text-center">الميزانية</th>	
                     <th scope="col" id="options" class="text-center">العمليات</th>	
                    </tr>
                </thead>
                <% projects.forEach(project => {  users.forEach(user => { %>
                    <tbody id="the-list">	
                        <tr>
                            <td > <strong><%= project.title %></strong> </td>
                            <td > <strong><%= user.name %></strong> </td>
                                    <td class="author column-author" data-colname="Author"><%= project.shortDescription %></td>
                                    <td>
                                        <td class="author column-author" data-colname="Author"><%= project.postedDate %></td>
                                    <td>
                                        <td class="author column-author" data-colname="Author"><%= project.endDate %></td>
                                    <td>
                                        <td class="author column-author" data-colname="Author"><%= project.budget %></td>
                                        <td>

                                    <div ><a class="awesome" href="/users/<%= user._id %>/update">تعديل</a> 
                                        <a class="awesome" href="/users/<%= user._id%>/show"target="_blank">عرض</a>
                                        <a class="trash" href="/users/<%= user._id %>/delete?_method=DELETE" >حذف</a>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                        <%})%>  
                        <%})%>        
                    </table>	
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </body>
    </html>