<html lang="ar" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>المشاريع - Admin</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body >
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-right">
        <h1 class="h3 mb-2 text-nowrap">المشاريع</h1>
      </div>
		
<div align="left"> 
    <a class="btn btn-primary mt-3 mt-sm-0" href="/projects/new" >اضافة مشروع</a>
   </div>
 <br/>


 <form  method="get">
         <table class="table table-bordered table-hover table-sortable" style="text-align: center; font-size: 16px;font-weight: bold; color:black">
             <thead>
                 <tr style="color:black">
                     <th scope="col" id="title" class="text-center"> عنوان</th>
                     <th scope="col" id="author" class="text-center">صاحب المشروع</th>	
                     <th scope="col" id="author" class="text-center">الميزانية</th>	
                     <th scope="col" id="options" class="text-center">العمليات</th>	
                    </tr>
                </thead>
                <% projects.forEach(project => {   %>
                    <tbody id="the-list">	
                        <tr>
                            <td > <strong><%= project.title %></strong> </td>
                            <td > <strong><%= project.userId.name %></strong> </td>
                                        <td class="author column-author" data-colname="Author"><%= project.budget %></td>
                                        <td>
                                    <div ><a class="awesome" href="/projects/<%= project._id %>/edit"">تعديل</a> 
                                        <a class="awesome" href="/projects/<%= project._id%>/show"target="_blank">عرض</a>
                                        <a class="trash" href="/projects/<%= project._id %>/delete?_method=DELETE" >حذف</a>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    
                        <%})%>        
                    </table>	
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </body>
    </html>