<html lang="ar" dir="rtl" >
    <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

   <title>المشاريع</title>

<style type="text/css">
body{
    text-align: right;
}
</style>


</head>
   <body class="page-template page-template-project-special-page-template page-template-project-special-page-template-php page page-id-8 logged-in elementor-default"> 
       <div class="page">
               <div class="flex-fill">
                       <div class="header py-3">
               <div id="project-theme-page-template-1">
                   <br/> 
                   
                   <div class="container" dir="rtl" align="right" dir="rtl" align="right" >
                       <div id="h1"class="p-3 mb-2 bg-light text-dark">المشاريع</div>
                       <br></br>                                                                   

<div class="container mt-3">
<div class="row">
<div id="content" class=" col-lg-12">
           <div class="card p-3">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<% projects.forEach(project => { %>
<div align="left" dir="rtl">
    <a href="/projects/search/<%= project._id %>"> <button type="button" class="btn btn-info"><%= project.type %></button></a>
    </div>
    <%}) %>  
<br><br>

<% if(typeof(projects)!='undefined') { projects.forEach(project => { %>
    <form action="/proposals/5f6064815c43d7068649d444/<%= project._id %>/submit" method="POST">
       
        <div class="card">
            <div class="card section-vbox padd20">
            <div class="row">
                <br></br>
                <div class="card-body">
                <div class="project-title-list col-sm-20 col-md-20"> <h4><%= project.title %></h4></div>
           
            
                    <% projects.forEach(project => {    %>
                    <p class="card-text"> <%= project.description %> </p>
                    <p class="card-text">أنشئ بواسطة:  <%= project.userId.name %> </p></div>
                </div>

                    <button type="submit" class="btn btn-info" align="right"> <%= project.budget %> ريال سعودي </button>  
                    <button type="submit" class="btn btn-info" align="right"> <%= project.postedDate %></button>  
                    <button type="submit" class="btn btn-info" align="left"> تقديم عرض</button>
                    <%})%>  
                </div>   
            </div>   
        </div>  </div>
    </div>

</div>
               <%})%>  

    <% } %>  
</form>


               </div>
           </div>
           </div>

</div></div>
</div>
</div> 
</div>
<div id="a11y-speak-polite" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="polite" aria-relevant="additions text" aria-atomic="true"></div><div id="a11y-speak-assertive" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="assertive" aria-relevant="additions text" aria-atomic="true"></div><!----></body></html>