<br>
<div id="h1"class="p-3 mb-2 bg-light text-dark">المشاريع</div>
<div class="container" dir="rtl" align="right" dir="rtl" align="right" >

<% if(typeof(projects)!='undefined') { %>
                                                                       
    <div class="card">
    <div class="card-body">
      <% projects.forEach(project => {    %>
      <h4 class="card-title"><%= project.title %></h4>
      <p class="card-text"> <%= project.description %> </p>
      <p class="card-text">أنشئ بواسطة:  <%= project.userId.name %> </p>
      <p class="btn btn-info"> <%= project.budget %> ريال سعودي </p>  
      <p class="btn btn-info"> <%= project.postedDate %></p> 
      
    </div>
  </div>
<%}) }%>   
</div>