<html lang="ar" dir="rtl" >
    <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

   <title>المشاريع</title>
  
<link rel="alternate" type="application/rss+xml" title="project theme demo » Feed" href="http://sitemile.us/single-sites/project/feed/">
<link rel="alternate" type="application/rss+xml" title="project theme demo » Comments Feed" href="http://sitemile.us/single-sites/project/comments/feed/">
  <script src="http://sitemile.us/single-sites/project/wp-includes/js/wp-emoji-release.min.js?ver=5.4.2" type="text/javascript" defer=""></script>
   <link rel="stylesheet" id="elementor-icons-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.7.0" type="text/css" media="all">
<link rel="stylesheet" id="elementor-common-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/css/common.min.css?ver=2.9.13" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css" href="http://sitemile.us/single-sites/project/wp-includes/css/dist/block-library/style.min.css?ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="affiliates_css_me-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/ProjectTheme_affiliates/affiliates_plugin.css?ver=20120822" type="text/css" media="all">
<link rel="stylesheet" id="live-chat-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/ProjectTheme_livechat//messages.css?v=123.1&amp;ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.2" type="text/css" media="all">
<link rel="stylesheet" id="wp-pagenavi-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
<link rel="stylesheet" id="ptheme_style4_1-css" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/css.css?ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="main-style-css" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/style.css?ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="theme-style-custom-css" href="http://sitemile.us/single-sites/project/?custom_style=custom&amp;ver=123" type="text/css" media="all">

<style type="text/css">
body{
    text-align: right;
}
</style>


</head>
   <body class="page-template page-template-project-special-page-template page-template-project-special-page-template-php page page-id-8 logged-in elementor-default"> 
       <div class="page">
               <div class="flex-fill">
                       <div class="header py-3">
               <div id="project-theme-page-template-1">

<div class="page_heading_me pt_template_page_1" id="pt_template_page_1"  style="margin:0px;padding: 0px;">
   <div class="page_heading_me_inner">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="x_templ_1_pt">
       <div class="mm_inn"> المشاريع </div></div>
   </div>
</div>

<div class="container mt-3">
<div class="row">
<div id="content" class=" col-lg-12">
           <div class="card p-3">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<!-- 
   <div class="card p-4">  
                  <div class="row mb-4">
                      <div class="col-xs-12 col-md-5 col-lg-3 mb-4">
                          <div class="category-box-thing">
                              <h3 class="category-heading">
                                  <a class="category-main-link-list" href="http://sitemile.us/single-sites/project/classification/accounting/">برمجة تطبيقات الويب (0)</a></h3></div></div>
                                  <div class="col-xs-12 col-md-5 col-lg-3 mb-4"
                              ><div class="category-box-thing"><h3 class="category-heading">
                                  <a class="category-main-link-list" href="http://sitemile.us/single-sites/project/classification/house-work/">برمجة تطبيقات الجوال (0)</a></h3></div></div>
                              <div class="col-xs-12 col-md-5 col-lg-3 mb-4"><div class="category-box-thing">
                                  <h3 class="category-heading"><a class="category-main-link-list" href="http://sitemile.us/single-sites/project/classification/mobile-programming/">جميع التصنيفات (0)</a>
                                </h3>
                            </div>
                         </div>
                        </div>
               </div>
-->
<% projects.forEach(project => { %>
<div align="right" dir="rtl">
    <a href="/projects/search/<%= project._id %>"> <button type="button" class="btn btn-primary">
            <%= project.type %>
      </button> </a>
    </div>
    <%}) %>  
<br><br>


<% if(typeof(projects)!='undefined') { projects.forEach(project => { %>
    <form action="/proposals/5f563202d326f90fc208351e/<%= project._id %>/submit" method="POST">
                                                                  
        <div class="card section-vbox padd20">

            <div class="row">
                <div class="project-title-list col-sm-12 col-md-12"> <h4><%= project.title %>

                    
                </h4> </div>
            </div>

                    <div class="d-lg-flex flex-row user-meta-data-row" style="padding: 10px;">
                        <div class="project-title-list col-sm-12 col-md-12"  style="padding: 10px;"> 
                            <h4><%= project.description %> <br/>
                                <i class="fas fa-money-bill-alt"> <%= project.budget %> </i>  <br/>
                                <i class="fa fa-calendar"> <%= project.postedDate %></i>  <br/>
                                <i class="fas fa-user-tag"> 0 proposals</i> </h4> 
                            

                      <button type="submit" class="btn btn-primary" align="left"> تقديم عرض</button>
                            </div>       </div>

</div>
               <%})%>  

    <% } %>  
</form>


               </div>
           </div>
           </div>

</div></div>
</div>
</div> 
</div>
<div id="a11y-speak-polite" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="polite" aria-relevant="additions text" aria-atomic="true"></div><div id="a11y-speak-assertive" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="assertive" aria-relevant="additions text" aria-atomic="true"></div><!----></body></html>