<html lang="ar" dir="rtl"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">


   <title>الرئيسية - تعاون</title>
 
</head>
   <body class="home page-template page-template-home-special-page-template page-template-home-special-page-template-php page page-id-63 elementor-default elementor-kit-812 elementor-page elementor-page-63" data-elementor-device-mode="mobile"> 
  
<div class="jumbotron text-center">
    <h1>منصة تعاون</h1>
    <p>تجمع بين رواد الأعمال والشركات مع طلاب السنة الأخيرة</p>
<p>يتم ذلك من خلال طرح مشاريع ليتم تنفيذها من قبل الطلاب</p>
  </div>
  <h1 style="text-align: center;">خطوات سير العمل</h1>

  <!-- Horizontal Steppers -->
<div class="row">
    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">
      <!-- First Step -->
      <li class="completed">
        <a href="#!">
          <span class="circle">١</span>
          <span class="label">إنشاء حساب</span>
          <p>بعد إنشاء حساب في نظام تعاون يمكنك تسجيل الدخول عن طريق اسم المستخدم وكلمة المرور</p>
        </a>
      </li>

      <!-- Second Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">٢</span>
          <span class="label">إضافة فكرة مشروع</span>
          <p>نشر المشروع عن طريق تعبئة القالب المطلوب بعد نشر مشروعك ستستلم طلبات طلاب الجامعة لتنفيذ المشروع</p>

        </a>
      </li>

      <!-- Third Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">٣</span>
          <span class="label">اختيار المجموعة المناسبة </span>
          <p> بعد اختيار المجموعة المناسبة يبدأ تنفيذ المشروع سيتم جدولة اجتماعات دورية مع مشرف المشروع من الجامعة</p>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

</div>


      

                                                                                   

                <h5>المشاريع المضافة</h5>                                                                   
                <% projects.forEach(project => {    %>
                <div class="card section-vbox padd20" style="text-align: center;">
                    <div class="row">
                  <div class="project-title-list col-sm-12 col-md-12"> <h4><%= project.title %>       </h4> </div>
                    </div>

                            <div class="d-lg-flex flex-row user-meta-data-row" style="padding: 10px;">
                                <div class="project-title-list col-sm-12 col-md-12"  style="padding: 10px;"> 
                                    <h4><%= project.description %> <br/>
                                         Created by <%= project.userId.name %> <br/>
                                        <i class="fas fa-money-bill-alt"> <%= project.budget %> </i>  <br/>
                                        <i class="fa fa-calendar"> <%= project.postedDate %></i>  <br/>
                                        <i class="fas fa-user-tag"> 0 proposals</i> </h4> </div>
                            </div> </div>
                       <%})%>    

                  <br></br>
         <div class="see-all" style="text-align: center;"><a class="btn btn-info" > البحث عن مشاريع أخرى</a>
        <br></br>
        <h5>الداعمين للمنصة</h5><div class="row" id="freelancers-widget"></div>	

           <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
           <div class="card lift mb-3 card-of-user  " id="user-box-8" style="height: 345px;"> 
            <div class="card-body text-center ">
               <div class="title"><h4>الاتحاد السعودي للأمن السيبراني والبرمجة والدرونز</h4></div>
                </div></div></div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="card lift mb-3 card-of-user" id="user-box-3" style="height: 345px;"> 
                 <div class="card-body text-center ">
                <div class="title"><h4>جامعة الأميرة نورة بنت عبدالرحمن</h4></div>  
                </div></div></div></div>
<br></br>
       </div><div class="see-all" style="text-align: center;" ><a class="btn btn-info" > البحث عن شركات أخرى</a></div>
       <br></br>   </div>   </div></div> </div></div>
                 </div>  </div>
       </section>
        </div> </div>
       </div></div></div>
</div>
       </div>
</body></html>