<html lang="ar" dir="rtl"><head>

   <title>الرئيسية - تعاون</title>
 
</head>
   <body> 
 
<div class="jumbotron text-center">
  <br/>                                                                   

    <h1>منصة تعاون</h1>
    <p> هي منصة تصل أصحاب الشركات ورواد الأعمال بالمبرمجين وطلاب السنة الأخيرة -وفق شروط معينة- لتنفيذ مشروع التخرج، بحيث تكون نقطة الوصل بينهم هي المنصة .
يمكن للمبرمجين والطلاب طرح أفكار للمشاريع أو العمل على فكرة مطروحة من قِبل شركة، ويمكن للشركات تبني أفكار الطلاب أو المبرمجين على حسابهم الخاص أو طرح فكرة للمبرمجين وطلاب السنة الأخيرة. </p>
  </div>
  <div class="container"> 
    <div id="h1"class="p-3 mb-2 bg-light text-dark">خطوات سير العمل</div>

  <!-- Horizontal Steppers -->
<div class="row">
    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">
      <!-- First Step -->
      <li class="info">
        <a href="#!">
          <span class="circle">١</span>
          <span class="label">إنشاء حساب</span>
          <p>بعد إنشاء حساب في نظام تعاون يمكنك تسجيل الدخول عن طريق اسم المستخدم وكلمة المرور</p>
        </a>
      </li>

      <!-- Second Step -->
      <li class="info">
        <a href="#!">
          <span class="circle">٢</span>
          <span class="label">إضافة فكرة مشروع</span>
          <p>نشر المشروع عن طريق تعبئة القالب المطلوب بعد نشر مشروعك ستستلم طلبات طلاب الجامعة لتنفيذ المشروع</p>

        </a>
      </li>

      <!-- Third Step -->
      <li class="info">
        <a href="#!">
          <span class="circle">٣</span>
          <span class="label">اختيار المجموعة المناسبة </span>
          <p> بعد اختيار المجموعة المناسبة يبدأ تنفيذ المشروع سيتم جدولة اجتماعات دورية مع مشرف المشروع من الجامعة</p>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

</div>

<div class="container" dir="rtl" align="right" dir="rtl" align="right" >
    <div id="h1"class="p-3 mb-2 bg-light text-dark">المشاريع المضافة</div>
    <br></br>                                                                   
      <div class="card">
      <div class="card-body">
        <% projects.forEach(project => {    %>
        <h4 class="card-title"><%= project.title %></h4>
        <p class="card-text"> <%= project.description %> </p>
        <p class="card-text">أنشئ بواسطة:  <%= project.userId.name %> </p>
        <p class="btn btn-info"> <%= project.budget %> ريال سعودي </p>  
        <p class="btn btn-info"> <%= project.postedDate %></p> 
        
      </div>
    </div>
</div>   
<%})%>    

                  <br></br>
         <div class="see-all" style="text-align: center;"><a class="btn btn-info" > البحث عن مشاريع أخرى</a>
        <br></br>
        <div id="h1"class="p-3 mb-2 bg-light text-dark">الداعمين للمنصة</div>
      </br>
        <div class="row" id="freelancers-widget"></div>	

           <div class="card lift mb-3 card-of-user  " id="user-box-8" style="height: 100px;"> 
            <div class="card-body text-center ">
               <div class="title"><h4>الاتحاد السعودي للأمن السيبراني والبرمجة والدرونز</h4></div>
                </div></div>

                <div class="card lift mb-3 card-of-user" id="user-box-3" style="height:100px;"> 
                 <div class="card-body text-center ">
                <div class="title"><h4>جامعة الأميرة نورة بنت عبدالرحمن</h4></div>  
                </div></div></div>

       </div>
       <br></br>   </div>   </div></div> </div></div>
                 </div>  </div>
       </section>
        </div> </div>
       </div></div></div>
</div>
       </div>
</body></html>