<html lang="ar" dir="rtl"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">


<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<style>
    #h1{
  font-size:30px; 
  
   padding:10px;
   text-align: center;
  }
  </style>
</head>
<%- include('header.html') %>

<body class="home page-template page-template-home-special-page-template page-template-home-special-page-template-php page page-id-63 elementor-default elementor-kit-812 elementor-page elementor-page-63">

    <div class="container">
        <div class="row">
          <div class="col">
    <div class="container text-right">
        <% if (flashMessages){ %>
            <% if (flashMessages.success){ %>
                <div class="alert alert-success"> <%= flashMessages.success %> </div>
                <%} else if (flashMessages.error){ %>
                    <div class="alert alert-danger"> <%= flashMessages.error %> </div>    
                    <% } %>
                 <% } %>
          </div>
          </div>
    </div>
    <%- body %>

</body>
</html>

<%- include('footer.html') %>