<html lang="ar" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>المستخدمين - Admin</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body >
    <br/> 

<div class="container">
    <div id="h1"class="p-3 mb-2 bg-light text-dark">إنشاء حساب</div>
    <br/>

<div align="left"> 
 <a class="btn btn-primary" href="/users/new" >اضافة مستخدم</a>
</div>
 <br/>
 <form  method="get">
         <table class="table table-bordered table-hover table-sortable" style="text-align: center; font-size: 16px;font-weight: bold; color:black">
             <thead>
                 <tr style="color:black">
                     <th scope="col" id="title" class="text-center"> اسم المستخدم</th>
                     <th scope="col" id="author" class="text-center">البريد الالكتروني</th>	
                     <th scope="col" id="options" class="text-center">العمليات</th>	
                    </tr>
                </thead>
                <% users.forEach(user => { %>
                    <tbody id="the-list">	
                        <tr>
                            <td > <strong><%= user.name %></strong> </td>
                                <td class="author column-author" data-colname="Author"><%= user.email %></td>
                                <td>
                                    <div ><a class="awesome" href="/users/<%= user._id %>/update">تعديل</a> 
                                        <a class="awesome" href="/users/<%= user._id%>/show"target="_blank">عرض</a>
                                        <a class="trash" href="/users/<%= user._id %>/delete?_method=DELETE" >حذف</a>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                        <%})%>        
                    </table>	
                </form>
            </div>
    
    </body>
    </html>