<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile" style="text-align: right;">
    <div class="page_heading_me pt_template_page_1" id="pt_template_page_1">
        <div class="page_heading_me_inner">
        <div class="col-sm-12" id="x_templ_1_pt">
          <div class="mm_inn">حسابي</div></div>    
        </div>
        </div>
        <br/>
        <br/>
                <div class="row">
                
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <br><br>
                                <form method="POST" action="/users/<%= user._id %>/edit?_method=PUT">
                                    <div class="form-group" dir="rtl" align="right" >
                                      <label for="name">اسم المستخدم</label>
                                      <input type="text" class="form-control" name="name" value="<%= user.name %>" placeholder="اسم المستخدم" aria-describedby="emailHelp">
                                   
                                    
                                    <div class="form-group" dir="rtl" align="right" >
                                      <label for="email">البريد الإلكتروني</label>
                                      <input type="email" class="form-control" name="email"   value="<%=user.email%>" placeholder="البريد الإلكتروني" >
                                    </div>
                                   
                                      <div class="form-group" dir="rtl" align="right" >
                                  
                                      <label for="gender" >المجال</label>
                                      <select name="gender" style=" width: 100%;
                                      padding: 12px 20px;
                                      margin: 8px 0;
                                      box-sizing: border-box;
                                      font-size: 21px;
                                      font-style:bold;" >
                                     <option value="تقنية">
                                      تقنية</option>
                                    <option value="تعليم">
                                      تعليم</option>
                                      </select></div>
                                
                                      <div class="form-group" dir="rtl" align="right" >
                                        <label for="bio">نبذة</label>
                                        <textarea class="form-control" type="text" name="bio" value="<%=user.bio%>" rows="4" placeholder="نبذة"> <%=user.bio%></textarea>
                                      </div>
                                 
                                
                                      <button type="submit" class="btn btn-primary" role="button" aria-pressed="true">حفظ التغييرات</button>
                                
                                    </form> 
</div>    
        </div>
        <hr/>
