<style>
    #h1{
  font-size:30px; 
  
   padding:10px;
   text-align: center;
  }
  
  </style>        
  <br/>     
<div class="container" style="text-align: right;"> 
    <div id="h1"class="p-3 mb-2 bg-light text-dark">مشاريعي</div>
    <br/>
                     
<% if(typeof(projects)!='undefined') { %>
                                                                       
    <div class="card">
    <div class="card-body">
      <% projects.forEach(project => {    %>
      <h4 class="card-title"><%= project.title %></h4>
      <p class="card-text"> <%= project.description %> </p>
      <p class="card-text">أنشئ بواسطة:  <%= project.userId.name %> </p>
      <p class="btn btn-info"> <%= project.budget %> ريال سعودي </p>  
      <p class="btn btn-info"> <%= project.postedDate %></p> <br/>
      <a  class="btn btn-info" shref="/proposals/<%=project._id%>/show">العروض</a>
    </div>
</div>
<%}) }%>                   
                                        </div>
                                </div>
     
    </div>                  